-e "*.class\n*.log\n*.jar\n*.war\n*.ear\n*.zip\n*.tar.gz\n*.rar\n*.tar.bz2\n*.tar\n*.gz\n*.bz2\n.DS_Store\n*.project\n*.classpath\n*.settings/\n*.idea/\n*.iml\n*.ipr\n*.iws\n*.bak\n*.tmp\n*.swp\n*.swo\n*.orig\n*.rej\n*.backup\n.gradle/\n.mvn/\n!.mvn/wrapper/maven-wrapper.jar\nout/\n!.mvn/wrapper/maven-wrapper.jar\nbuild/\ntarget/\n.classpath\n.project\n.settings/\n.idea/\n*.iml\n*.ipr\n*.iws\n.gradle/\n**/build/\n**/target/\n*.log\n*.tmp\n*.swp\n*.swo\n*.bak\n*.class\n*.jar\n*.war\n*.ear\nhs_err_pid*\nrebel.xml\ntest-output/\n" 
